@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ankita</p>
    <p>changes</p>
    <p>demo</p>
    <p>23-02-2023</p>
    <p>staging slot</p>
    <p>changes</p>
</div>
